{% extends "layout.html" %}
{% block content %}
    <div class="hero-unit">
      <h1>首页</h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p><a class="btn btn-primary btn-large">Learn more</a></p>
    </div>

    {% if foods|length > 0 %}
    <ul class="thumbnails">
      {% for food in foods %}
          <li class="span3"
            <a href="/food/{{food.id}}" class="thumbnail">
              <img data-src="holder.js/260x180" alt="260x180" src="{{food.pic}}" style="width: 260px; height: 180px;">
            </a>
          </li>
      {% endfor %}
    </ul>
    {% endif %}
{% endblock %}